/* created by ervjimenez */

/* main color of the background*/

h1{
 color: #4A5669;
}
p{
 color: #606E86;
}
/* button stuff*/
.left-buttons{
 flex-direction:left;
 justify-content: left;
 align-items: left;
} 
button{
 background-color:#2A638F; 
}
 
button:hover{
 opacity: .8;
}
.smallerImg{ /*makes images smaller*/
 max-width:100%;
 height:auto;
}
.row{
 display: flex;
 flex-direction: center;
 align-items:center;
 justify-content: center;
}
.main-content{/* still working on the grid stuff, will be figured out*/
 font-family: Monospace;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: center;
 gap: 20px;
 height: 100%;
 background-color: #FFFFFF;

}



.darktheme{/* will change background and text color to darker theme once 
 it is finished*/
 background-color:#282A34;
 color:#25A7C1;
}

.darkthemeButton{
 background-color:#ffffff;
 border:none;
 color: white;
 max-width:40px;
 height:40px;
 padding:.05% .05%;
 justify-items:right;
 text-decoration:none;
} 
/* below is the stuff for the login, more will be added later*/

input[type="text"],
input[type="password"]{
 height: 25px;
 border: 1px solid rgba(0,0,0,0.2);
} 

input[type="submit"]{ 
 margin-top: 10px;
 cursor: pointer;
 font-size: 15px;
 background: #4C5667;
 color: #FFF;
 padding: 10px 20px;
} 

input[type="submit"]:hover {
 background: #4E566596;
} 

.button-container{
 display: flex;
 justify-content: center;
} 

.login-form{
 background-color: white;
 padding: 2rem;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
} 

.list-container{
 display: flex;
} 

.error{
 color: red;
 font-size: 12px;
} 

.title{
 font-size: 25px;
 margin-bottom: 20px;
} 

.input-container{
 display: flex;
 flex-direction: column;
 gap: 8px;
 margin: 10px;
 }

